<!doctype html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <head>
	    <title>{{ board }} Firmwares</title>
    </head>
    <body>
		{% if files: %}
		<table border="1" cellspacing="0">
			<caption>Firmwares for {{ board }}</caption>
			<tr>
				<th>id</th>
				<th>filename</th>
				<th>size</th>
				<th>locate</th>
			</tr>
			{%     for f in files:%}
			<tr>
				<td> {{ f[0] }} </td>
				<td> {{ f[1] }} </td>
				<td> {{ f[2] }} </td>
				<td> <a href=" {{ f[3] }} ">Download</a> </td>
			</tr>
			{%     endfor %}
		<table>
		{% else %}
			No firmware found for {{ board }}.
		{% endif %}
    </body>
</html>